// Color variables
$primary-orange: #FF5E13;
$secondary-orange: #FFA463;
$light-orange: #FFDBBD;
$cream: #FDF0D2;
$off-white: #F9F4EE;

.meeting-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  .video-player{
    background-color: $primary-orange;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}